$color_menu: #004D40;
$color_menu_hover: #00695C;
$color_menu_text: #ffffff;

body {
    margin: 0;
}
.container {
 display: flex;
}
.sidebar {
    ul {list-style: none;}
}
.page {
    width:100%;
    height:100%;
}
.nav {

}
.nav_item {
    background-color: $color_menu;
    color: $color_menu_text;
}